body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #353F52;
  padding-top: 130px;
  position: relative;
  z-index: 0; }

.btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  padding: 0;
  margin: 0;
  height: 32px;
  background: transparent;
  border: none; }
  .btn-close span {
    height: 1px;
    width: 20px;
    display: block;
    background: #000000; }
    .btn-close span:first-child {
      -webkit-transform: rotate(45deg) translate(5px, -5px);
              transform: rotate(45deg) translate(5px, -5px); }
    .btn-close span:last-child {
      -webkit-transform: rotate(-45deg) translate(-6px, -6px);
              transform: rotate(-45deg) translate(-6px, -6px); }

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #353F52; }

h2 {
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #353F52; }

.btn {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  display: inline;
  padding: 9px 30px;
  border-radius: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000000;
  -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.2));
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease; }
  .btn.btn_line-black {
    color: #000000;
    background: #fff;
    border: 1px solid #000000; }
    .btn.btn_line-black:hover {
      color: #000000; }
  .btn.btn_line-white {
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #FFFFFF; }
  .btn.btn_blue {
    background: #359BD1;
    color: #FFFFFF; }
  .btn:hover {
    text-decoration: none;
    background: #fff;
    color: #000000; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 125px; }
  .nav .menu__burger-btn {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    margin-right: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
    .nav .menu__burger-btn span {
      width: 24px;
      height: 3px;
      background-color: #000;
      border-radius: 30px;
      display: block; }
      .nav .menu__burger-btn span:not(:last-child) {
        margin-bottom: 5px; }
  .nav-sup {
    background: #000;
    color: #fff;
    width: 100%;
    height: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav-sup__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .nav-sup__trigger {
      font-weight: 600;
      font-size: 10px;
      text-decoration: none;
      color: inherit; }
    .nav-sup__user-menu {
      margin-left: auto;
      font-size: 12px;
      position: absolute;
      right: 0; }
      .nav-sup__user-menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .nav-sup__user-menu ul li:not(:first-child) a::before {
          content: '|';
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px; }
        .nav-sup__user-menu ul a {
          color: inherit;
          text-transform: uppercase; }
  .nav-main {
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #fff; }
    .nav-main__wrapper {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .nav-main .btn-user {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      width: 32px;
      height: 32px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      right: 30px;
      display: none; }
      .nav-main .btn-user img {
        width: 24px;
        height: 24px;
        -o-object-fit: contain;
           object-fit: contain; }
    .nav-main .popup-dropdown {
      display: none;
      position: absolute;
      top: 40px;
      left: 0;
      padding: 15px;
      width: 100%; }
      .nav-main .popup-dropdown .popup-wrapper {
        padding: 20px 17px;
        -webkit-box-shadow: 0px -2px 50px 10px rgba(13, 44, 60, 0.1);
                box-shadow: 0px -2px 50px 10px rgba(13, 44, 60, 0.1);
        background: #FFFFFF;
        position: relative; }
        .nav-main .popup-dropdown .popup-wrapper::before {
          content: '';
          display: block;
          width: 17px;
          height: 6px;
          position: absolute;
          top: 0;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='6' viewBox='0 0 18 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.9999 6L0.339646 -8.36957e-08L17.6602 1.43051e-06L8.9999 6Z' fill='%23EFF1F2'/%3E%3C/svg%3E%0A");
          background-size: contain;
          background-position: top; }
        .nav-main .popup-dropdown .popup-wrapper.popup-dropdown_user::before {
          right: 5%; }
    .nav-main .user-popup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none; }
      .nav-main .user-popup a {
        color: #000000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        text-decoration: none;
        padding: 10px 0; }
        .nav-main .user-popup a::after {
          content: '';
          display: block;
          width: 11px;
          height: 11px;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.164756 0.698355C0.00496504 0.538591 0.00499232 0.279555 0.164729 0.11982C0.244731 0.0398168 0.349627 -0.000123991 0.454482 3.91365e-07C0.559346 -0.000124001 0.664246 0.0398236 0.744242 0.119846L4.83515 4.21065C4.91187 4.28734 4.95499 4.39141 4.95499 4.4999C4.95499 4.60839 4.9119 4.71244 4.83518 4.78916L0.744269 8.88017C0.664263 8.96018 0.559369 9.00012 0.454513 9C0.349657 9.00012 0.244762 8.96018 0.164756 8.88017C0.0049654 8.72041 0.00499268 8.46137 0.164729 8.30164L3.96638 4.4999L0.164756 0.698355Z' fill='black'/%3E%3C/svg%3E%0A"); }
    .nav-main__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin: 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      list-style: none;
      color: #000000;
      margin-left: auto;
      margin-right: 215px;
      opacity: 1; }
      .nav-main__menu li:not(:last-child) {
        margin-right: 15px; }
      .nav-main__menu.hiden {
        display: none;
        opacity: 0; }
      .nav-main__menu a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        font-size: 10px;
        color: inherit;
        padding: 0 10px;
        height: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        position: relative; }
        .nav-main__menu a::before {
          content: '';
          height: 2px;
          width: 100%;
          display: block;
          background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#353F52));
          background: linear-gradient(180deg, #000000 0%, #353F52 100%);
          border-radius: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0;
          -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease; }
        .nav-main__menu a:hover::before {
          opacity: 1; }
      .nav-main__menu .menu-dropdown::after {
        content: '';
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-left: 5px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.88018 2.16522C8.72044 2.00548 8.4614 2.00546 8.30164 2.16525L4.50009 5.96687L0.698359 2.16522C0.538623 2.00548 0.279586 2.00546 0.119823 2.16525C-0.0399409 2.32501 -0.0399409 2.58402 0.119823 2.74378L4.21084 6.83469C4.28756 6.91141 4.3916 6.9545 4.50009 6.9545C4.60859 6.9545 4.71266 6.91138 4.78935 6.83466L8.88015 2.74376C9.03994 2.58402 9.03994 2.32498 8.88018 2.16522Z' fill='black'/%3E%3Cpath d='M8.88018 2.16522C8.72044 2.00548 8.4614 2.00546 8.30164 2.16525L4.50009 5.96687L0.698359 2.16522C0.538623 2.00548 0.279586 2.00546 0.119823 2.16525C-0.0399409 2.32501 -0.0399409 2.58402 0.119823 2.74378L4.21084 6.83469C4.28756 6.91141 4.3916 6.9545 4.50009 6.9545C4.60859 6.9545 4.71266 6.91138 4.78935 6.83466L8.88015 2.74376C9.03994 2.58402 9.03994 2.32498 8.88018 2.16522Z' fill='black'/%3E%3C/svg%3E%0A"); }
    .nav-main .logo {
      margin-right: auto; }
  .nav-sub {
    border-top: 1px solid #000;
    -webkit-box-shadow: 0px 37px 30px 5px rgba(13, 44, 60, 0.07);
            box-shadow: 0px 37px 30px 5px rgba(13, 44, 60, 0.07);
    opacity: 0;
    background-color: #fff;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: opacity 0.3s ease-in-out 0.2s;
    transition: opacity 0.3s ease-in-out 0.2s; }
    .nav-sub.visible {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    .nav-sub__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr auto;
      gap: 0px 0px;
      grid-template-areas: "menu submenu submenu" "menu footer footer"; }
    .nav-sub__menu {
      grid-area: menu;
      padding-top: 40px; }
      .nav-sub__menu .nav-main__menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-right: auto; }
        .nav-sub__menu .nav-main__menu a {
          font-weight: bold;
          font-size: 14px;
          padding: 0;
          -webkit-transition: font-size 0.3s ease;
          transition: font-size 0.3s ease;
          text-align: left; }
          .nav-sub__menu .nav-main__menu a.current {
            font-size: 18px; }
        .nav-sub__menu .nav-main__menu .menu-dropdown::after {
          -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          margin-left: 10px;
          width: 12px;
          height: 12px; }
    .nav-sub__mobile-nav {
      display: none; }
    .nav-sub__title {
      color: #000000;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 13px;
      display: block; }
    .nav-sub__item {
      grid-area: submenu;
      padding-bottom: 30px;
      border-left: 1px solid #000;
      padding-left: 30px;
      padding-top: 40px;
      font-weight: normal;
      display: none; }
      .nav-sub__item.visible {
        display: block; }
    .nav-sub__footer {
      grid-area: footer;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 30px; }
      .nav-sub__footer .social-list .social-list__link {
        width: 32px;
        height: 32px;
        -webkit-filter: invert(1);
                filter: invert(1); }
    .nav-sub__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      display: grid;
      -webkit-column-gap: 10px;
              column-gap: 10px;
      grid-auto-flow: column;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(7, auto); }
      .nav-sub__list a {
        text-decoration: none;
        font-size: 12px;
        color: #000000;
        text-transform: uppercase;
        padding: 5px 0;
        display: block; }

.logo {
  display: block;
  font-size: 0;
  width: 190px; }
  .logo img {
    width: 100%;
    height: auto; }

.nav-search {
  position: absolute;
  right: 25px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 30px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; }
  .nav-search #whenChange {
    display: none; }
  .nav-search__result-wrapper {
    height: 0;
    opacity: 0;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .nav-search__result-wrapper button {
      background: none;
      border: none;
      padding: 0;
      font-size: 0px;
      text-transform: uppercase;
      color: #000000;
      margin: 0; }
  .nav-search__result-suggestion {
    width: 50%;
    padding-right: 30px;
    padding-bottom: 30px; }
    .nav-search__result-suggestion .nav-search__result-title {
      margin-left: 30px; }
  .nav-search__result-title {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 30px;
    display: block; }
  .nav-search.search-open {
    width: 75%;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out; }
    .nav-search.search-open .nav-search__field {
      padding: 0 17px;
      width: 100%;
      height: auto;
      outline: none;
      border: 1px solid #000000;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff; }
    .nav-search.search-open input {
      width: 100%;
      border-bottom: 1px solid #E9E9E9;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 44px;
      padding-left: 0;
      background-position: right 1px center; }
    .nav-search.search-open .nav-search__result-wrapper {
      opacity: 1;
      font-size: 16px;
      height: auto; }
      .nav-search.search-open .nav-search__result-wrapper ul {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 20px;
        margin-bottom: 10px; }
        .nav-search.search-open .nav-search__result-wrapper ul li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start; }
          .nav-search.search-open .nav-search__result-wrapper ul li::before {
            content: '';
            display: block;
            width: 17px;
            height: 17px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8534 11.1474L8.44091 7.7349C9.10191 6.91842 9.4999 5.88092 9.4999 4.75094C9.4999 2.13196 7.36891 0.000976562 4.74994 0.000976562C2.13096 0.000976562 0 2.13194 0 4.75091C0 7.36989 2.13099 9.50088 4.74996 9.50088C5.87994 9.50088 6.91744 9.10289 7.73392 8.44189L11.1464 11.8544C11.2439 11.9519 11.3719 12.0009 11.4999 12.0009C11.6279 12.0009 11.7559 11.9519 11.8534 11.8544C12.0489 11.6589 12.0489 11.3429 11.8534 11.1474ZM4.74996 8.50088C2.68197 8.50088 0.999998 6.8189 0.999998 4.75091C0.999998 2.68293 2.68197 1.00095 4.74996 1.00095C6.81795 1.00095 8.49992 2.68293 8.49992 4.75091C8.49992 6.8189 6.81793 8.50088 4.74996 8.50088Z' fill='black'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 13px;
            margin-top: 8px;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
      .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products {
        width: 50%;
        padding-bottom: 30px; }
        .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products ul li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products ul li:not(:last-child) {
            margin-bottom: 20px; }
          .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products ul li::before {
            display: none; }
        .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__img {
          width: 30%;
          margin-right: 25px; }
          .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__img img {
            width: 100%;
            height: auto; }
        .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text-title {
            font-weight: 600;
            text-transform: uppercase;
            color: #353F52;
            font-size: 16px;
            margin-top: 5px; }
          .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text-price {
            font-weight: bold;
            font-size: 22px;
            text-transform: uppercase;
            color: #353F52; }
      .nav-search.search-open .nav-search__result-wrapper button {
        font-size: 16px;
        margin: 5px 0;
        text-align: left; }
  .nav-search__field {
    border: 1px solid #000000;
    border-radius: 8px;
    display: block;
    height: 28px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out; }
  .nav-search input {
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    height: 24px;
    width: 100%;
    padding: 0 11px;
    padding-right: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8534 11.1474L8.44091 7.7349C9.10191 6.91842 9.4999 5.88092 9.4999 4.75094C9.4999 2.13196 7.36891 0.000976562 4.74994 0.000976562C2.13096 0.000976562 0 2.13194 0 4.75091C0 7.36989 2.13099 9.50088 4.74996 9.50088C5.87994 9.50088 6.91744 9.10289 7.73392 8.44189L11.1464 11.8544C11.2439 11.9519 11.3719 12.0009 11.4999 12.0009C11.6279 12.0009 11.7559 11.9519 11.8534 11.8544C12.0489 11.6589 12.0489 11.3429 11.8534 11.1474ZM4.74996 8.50088C2.68197 8.50088 0.999998 6.8189 0.999998 4.75091C0.999998 2.68293 2.68197 1.00095 4.74996 1.00095C6.81795 1.00095 8.49992 2.68293 8.49992 4.75091C8.49992 6.8189 6.81793 8.50088 4.74996 8.50088Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 8px center;
    font-size: 12px;
    color: #000000;
    outline: none;
    width: 100%;
    -webkit-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in; }
  .nav-search__btn {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8534 11.1474L8.44091 7.7349C9.10191 6.91842 9.4999 5.88092 9.4999 4.75094C9.4999 2.13196 7.36891 0.000976562 4.74994 0.000976562C2.13096 0.000976562 0 2.13194 0 4.75091C0 7.36989 2.13099 9.50088 4.74996 9.50088C5.87994 9.50088 6.91744 9.10289 7.73392 8.44189L11.1464 11.8544C11.2439 11.9519 11.3719 12.0009 11.4999 12.0009C11.6279 12.0009 11.7559 11.9519 11.8534 11.8544C12.0489 11.6589 12.0489 11.3429 11.8534 11.1474ZM4.74996 8.50088C2.68197 8.50088 0.999998 6.8189 0.999998 4.75091C0.999998 2.68293 2.68197 1.00095 4.74996 1.00095C6.81795 1.00095 8.49992 2.68293 8.49992 4.75091C8.49992 6.8189 6.81793 8.50088 4.74996 8.50088Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 0; }

.btn-cart {
  margin-left: 10px;
  position: relative; }
  .btn-cart_value {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #000;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    top: -3px;
    right: -9px; }

.header-main {
  padding-top: 40px;
  padding-bottom: 40px; }
  .header-main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header-main__offer {
    padding-bottom: 20px;
    padding-left: 40px; }
    .header-main__offer .sub-header {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      text-transform: uppercase;
      color: #353F52;
      max-width: 552px;
      margin-bottom: 30px;
      margin-top: 10px; }
  .header-main__product img {
    width: 100%;
    height: auto; }

.triggers {
  padding-top: 60px;
  padding-bottom: 60px; }
  .triggers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .triggers li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    max-width: 350px; }
  .triggers__card {
    background: linear-gradient(144.98deg, #000000 -15.74%, #353F52 89.21%);
    -webkit-box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.35);
    color: #fff;
    width: 100%;
    border-radius: 13px;
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .triggers__card img {
      max-width: 58px;
      max-height: 54px; }
    .triggers__card span {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 15px;
      margin-top: 15px;
      text-transform: uppercase; }
    .triggers__card p {
      max-width: 233px;
      font-size: 12px;
      text-transform: uppercase; }

.star-rating {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .star-rating span {
    display: block;
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .star-rating span.star_full {
      background-image: url("../img/star-full.svg"); }
    .star-rating span.star_half {
      background-image: url("../img/star-half.svg"); }
    .star-rating span.star_empty {
      background-image: url("../img/star-empty.svg"); }

.shop-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none; }
  .shop-card__btn-line {
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px; }
    .shop-card__btn-line .btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 26px;
      width: 48%;
      padding: 0;
      font-weight: 500;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 8px; }
  .shop-card__price-value {
    font-weight: bold;
    color: #353F52; }
  .shop-card__title {
    color: #353F52;
    font-weight: 600;
    text-transform: uppercase; }
  .shop-card__price-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.shop__wrapper {
  display: grid;
  grid-template-columns: -webkit-min-content min-content -webkit-min-content;
  grid-template-columns: min-content min-content min-content;
  margin-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px 30px;
  margin-bottom: 35px; }

.shop_mainPage {
  margin-top: 65px; }
  .shop_mainPage h2 {
    text-align: center; }
  .shop_mainPage .shop-card {
    width: 326px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 25px;
    padding-top: 20px;
    border-radius: 24px;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 0.5s ease;
    transition: -webkit-box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease; }
    .shop_mainPage .shop-card img {
      max-width: 230px;
      max-height: 230px;
      -o-object-fit: cover;
         object-fit: cover; }
    .shop_mainPage .shop-card__price-value {
      font-size: 22px; }
    .shop_mainPage .shop-card__title {
      font-size: 16px;
      margin-top: 22px;
      margin-bottom: 8px; }
    .shop_mainPage .shop-card__price-value {
      width: 100%; }
    .shop_mainPage .shop-card .star-rating,
    .shop_mainPage .shop-card .shop-card__btn-line {
      display: none; }
    .shop_mainPage .shop-card:hover {
      -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.15); }

.main-description {
  margin-top: 110px;
  margin-bottom: 75px; }
  .main-description__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main-description__img img {
    border-radius: 22px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%; }
  .main-description h2 {
    margin-bottom: 16px; }
  .main-description__text {
    margin-left: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding-left: 40px;
    max-width: 600px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main-description__text::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#353F52));
      background: linear-gradient(180deg, #000000 0%, #353F52 100%);
      border-radius: 3px; }
    .main-description__text p {
      max-width: 700px; }
    .main-description__text .btn {
      width: 160px;
      text-align: center;
      height: 33px;
      margin-top: 10px; }

.main-goal {
  margin-top: 130px;
  margin-bottom: 95px; }
  .main-goal h2 {
    margin-bottom: 60px;
    text-align: center; }
  .main-goal__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main-goal__btn {
    background: linear-gradient(144.98deg, #000000 -15.74%, #353F52 89.21%);
    -webkit-box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.35);
    color: #fff;
    text-decoration: none;
    border-radius: 13px;
    width: 330px;
    height: 308px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: -webkit-box-shadow 0.5s ease;
    transition: -webkit-box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease; }
    .main-goal__btn:not(:last-child) {
      margin-right: 33px; }
    .main-goal__btn img {
      margin-bottom: 50px;
      width: 119px;
      height: 119px;
      -o-object-fit: contain;
         object-fit: contain; }
    .main-goal__btn:hover {
      color: #fff;
      -webkit-box-shadow: 0px 5px 40px rgba(46, 54, 71, 0.64);
              box-shadow: 0px 5px 40px rgba(46, 54, 71, 0.64); }

.main-feedback {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 100px; }
  .main-feedback__slider {
    padding-top: 60px; }
    .main-feedback__slider .slick-slide {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: -webkit-transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
      .main-feedback__slider .slick-slide.slick-center {
        -webkit-transform: scale(1);
                transform: scale(1); }
    .main-feedback__slider .slick-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 20px;
      padding: 0; }
      .main-feedback__slider .slick-dots li {
        -webkit-transition: margin 0.3s ease-in-out;
        transition: margin 0.3s ease-in-out; }
        .main-feedback__slider .slick-dots li:not(:last-child) {
          margin-right: 11px; }
      .main-feedback__slider .slick-dots button {
        background: #000000;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        border: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: none;
        -webkit-transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out;
        transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out; }
      .main-feedback__slider .slick-dots li.slick-active {
        margin-right: 20px;
        margin-left: 20px; }
        .main-feedback__slider .slick-dots li.slick-active button {
          width: 43px;
          height: 6px;
          border-radius: 10px; }
  .main-feedback__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    padding: 34px 28px 40px 28px;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 390px; }
  .main-feedback__title {
    text-transform: uppercase;
    color: #353F52;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px; }
  .main-feedback__av {
    width: 71px;
    height: 71px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-filter: drop-shadow(0px 1.22154px 7.32926px #C4C4C4);
            filter: drop-shadow(0px 1.22154px 7.32926px #C4C4C4);
    margin-bottom: 15px; }
    .main-feedback__av img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .main-feedback p {
    margin: 0;
    font-size: 14px;
    color: #000000;
    font-weight: normal; }
  .main-feedback .star-rating {
    margin-bottom: 18px; }
    .main-feedback .star-rating span {
      width: 12px;
      height: 12px;
      margin: 0 5px; }
      .main-feedback .star-rating span.star_full {
        background-image: url("../img/star-black-full.svg"); }
      .main-feedback .star-rating span.star_half {
        background-image: url("../img/star-black-half.svg"); }

.main-follow {
  padding: 130px 0;
  background-image: url("../img/follow-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #FFFFFF; }
  .main-follow__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-follow__card {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    max-width: 800px;
    width: 100%;
    padding: 30px 0;
    background: linear-gradient(95.61deg, rgba(196, 196, 196, 0.39) 0.6%, rgba(196, 196, 196, 0.1365) 100%, rgba(196, 196, 196, 0.39) 100%);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-follow__card p {
      max-width: 550px;
      margin: 0;
      margin-bottom: 15px; }

.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-list li:not(:last-child) {
    margin-right: 24px; }
  .social-list .social-list__link {
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .social-list .social-list__link[aria-label="Facebook"] {
      background-image: url("../img/facebook.svg"); }
    .social-list .social-list__link[aria-label="Instagram"] {
      background-image: url("../img/instagram.svg"); }

.footer {
  background: #000000;
  padding-top: 66px;
  color: #fff; }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__item .btn {
      width: 158px;
      height: 33px;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer__item a {
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-size: 12px; }
      .footer__item a[href*="mailto"] {
        text-decoration: underline;
        text-transform: none;
        margin-top: 10px; }
      .footer__item a:not(:first-of-type) {
        margin-top: 13px; }
    .footer__item ul {
      margin-top: 20px; }
      .footer__item ul a {
        font-size: 0; }
    .footer__item:nth-child(1) {
      grid-area: track; }
    .footer__item:nth-child(2) {
      grid-area: touch; }
    .footer__item:nth-child(3) {
      grid-area: quick; }
    .footer__item:nth-child(4) {
      grid-area: shop; }
    .footer__item:nth-child(5) {
      grid-area: join; }
  .footer__subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer__subscribe-form input {
      background: #000000;
      border-radius: 12px;
      border: 0.5px solid #ffffff94;
      font-weight: 300;
      font-size: 12px;
      color: #FFFFFF;
      height: 33px;
      padding: 0 17px;
      outline: none;
      margin-bottom: 20px; }
      .footer__subscribe-form input::-webkit-input-placeholder {
        /* Edge */
        color: #FFFFFF;
        font-size: 8px;
        text-transform: uppercase; }
      .footer__subscribe-form input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #FFFFFF;
        font-size: 8px;
        text-transform: uppercase; }
      .footer__subscribe-form input::-ms-input-placeholder {
        color: #FFFFFF;
        font-size: 8px;
        text-transform: uppercase; }
      .footer__subscribe-form input::placeholder {
        color: #FFFFFF;
        font-size: 8px;
        text-transform: uppercase; }
  .footer__checkout-img {
    grid-area: checkout;
    margin-top: 40px;
    margin-bottom: 10px; }
  .footer__copy {
    grid-area: copy;
    margin: 0;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 0; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__category {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 17px; }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "track touch quick shop join" "checkout checkout checkout checkout checkout" "copy copy copy copy copy"; }

/*# sourceMappingURL=main.css.map */