@charset "UTF-8";
@font-face {
  font-family: 'Hot Mess';
  src: url("../fonts/");
  src: local("Hot Mess"), local("HotMess"), url("../fonts/HotMess.eot?#iefix") format("embedded-opentype"), url("../fonts/HotMess.woff2") format("woff2"), url("../fonts/HotMess.woff") format("woff"), url("../fonts/HotMess.ttf") format("truetype"), url("../fonts/HotMess.svg#HotMess") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body {
  font-family: 'Roboto', sans-serif;
  color: #212121; }
  body.work-page, body.article-page {
    background-color: #F2ECDC; }
  body.main-page {
    background-color: #fff; }
  body.about-page {
    background-color: #F5E9EF; }
    body.about-page main {
      position: relative; }
      body.about-page main::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../img/about-bottom-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 433px;
        height: 315px;
        z-index: -1; }
  body.contact-page {
    background-color: #F2E0CD; }
    body.contact-page main {
      position: relative;
      padding-bottom: 250px; }
      body.contact-page main::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../img/contact-bottom-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 444px;
        height: 356px;
        z-index: -1; }
  body.blog-page {
    background-color: #D4E9DD; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 900; }

h2 {
  font-size: 220px;
  color: #CCCCCC; }

h3 {
  font-size: 80px; }

h4 {
  font-size: 40px; }

h5 {
  font-size: 25px; }

.btn {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  background-color: #212121;
  border: none;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none; }
  .btn:hover {
    color: #fff; }

header {
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  header h1 {
    font-size: 115px; }

.header-headline_ghost-bg h1 {
  position: relative; }
  .header-headline_ghost-bg h1::before {
    position: absolute;
    content: 'THE WORK';
    display: block;
    font-family: 'Hot Mess';
    color: #59D9BC;
    z-index: -1;
    font-size: 192px;
    font-weight: 400;
    top: -44px;
    left: -47px; }
.header-headline_ghost-bg.header-work-bg .header-title__wrapper {
  z-index: -1; }
  .header-headline_ghost-bg.header-work-bg .header-title__wrapper::after {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0px center;
    background-image: url("../img/bg-middle.png");
    right: 0;
    top: 500px;
    width: 100%;
    height: 365px;
    z-index: -1; }

.header-work-bg .header-title__wrapper {
  position: relative;
  z-index: 0; }
  .header-work-bg .header-title__wrapper::before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/bg-top.png");
    right: 40px;
    top: -372px;
    width: 470px;
    height: 585px; }

.header-about-bg {
  position: relative;
  z-index: 0; }
  .header-about-bg::before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/about-top-bg.png");
    right: 80px;
    top: 0;
    width: 687px;
    height: 408px; }

.header-blog-bg {
  position: relative;
  z-index: 0;
  margin-bottom: 20px; }
  .header-blog-bg .header-title__wrapper {
    border-bottom: 1px dashed #1918195e;
    padding-bottom: 20px; }
  .header-blog-bg::before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/blog-top-bg.png");
    right: 74px;
    bottom: -101px;
    width: 707px;
    height: 527px; }

.header-contact-bg {
  position: relative;
  z-index: 1; }
  .header-contact-bg::before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/contact-top-bg.png");
    right: 0;
    top: 0;
    width: 604px;
    height: 550px; }

.header_main {
  height: 100vh;
  padding-top: 80px;
  background-image: url("../img/header-main.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0; }
  .header_main:before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    content: '';
    display: block;
    width: 100%;
    height: 60vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.46)), color-stop(31.47%, rgba(0, 0, 0, 0.32)), color-stop(63.82%, rgba(0, 0, 0, 0.14)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.32) 31.47%, rgba(0, 0, 0, 0.14) 63.82%, rgba(0, 0, 0, 0) 100%); }
  .header_main .header__logo {
    width: 260px;
    height: 250px;
    margin-top: auto; }
    .header_main .header__logo svg {
      fill: #fff; }
  .header_main .header__slogan {
    font-family: 'Hot Mess';
    font-weight: normal;
    font-style: normal;
    font-size: 63px;
    color: #fffffff0;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
    margin-top: 6px; }

.nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  z-index: 3;
  padding-top: 45px;
  mix-blend-mode: hard-light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: background-color 0.2s ease, height 0.3s ease-in-out;
  transition: background-color 0.2s ease, height 0.3s ease-in-out; }
  .nav .nav__menu {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFFFFF;
    padding-left: 90px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0;
    padding-bottom: 60px;
    -webkit-transform: translate(0px, -1000%);
            transform: translate(0px, -1000%);
    -webkit-transition: opacity 0.8s ease;
    transition: opacity 0.8s ease; }
    .nav .nav__menu .nav__menu-list {
      padding: 0;
      margin: 0;
      list-style: none;
      font-family: 'Playfair Display', serif;
      font-weight: 900; }
      .nav .nav__menu .nav__menu-list a {
        color: #fff;
        text-decoration: none;
        font-size: 80px;
        line-height: 130%; }
        .nav .nav__menu .nav__menu-list a:hover {
          text-decoration: underline; }
    .nav .nav__menu p {
      font-size: 20px;
      max-width: 780px;
      margin-top: 50px; }
      .nav .nav__menu p a {
        color: #fff; }
  .nav .nav__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px; }
  .nav .nav__btn-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50px;
    height: 36px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative; }
    .nav .nav__btn-toggle span {
      background-color: #212121;
      width: 100%;
      height: 8px;
      display: block;
      border-radius: 50px;
      -webkit-transition: opacity 0.5s ease, width 0.5s ease, background-color 0.5s ease, -webkit-transform 0.5s ease;
      transition: opacity 0.5s ease, width 0.5s ease, background-color 0.5s ease, -webkit-transform 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease, width 0.5s ease, background-color 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease, width 0.5s ease, background-color 0.5s ease, -webkit-transform 0.5s ease; }
    .nav .nav__btn-toggle .nav__btn-toggle_ii {
      -webkit-transition: opacity 0.5s ease, -webkit-transform 0.3s ease-in-out;
      transition: opacity 0.5s ease, -webkit-transform 0.3s ease-in-out;
      transition: opacity 0.5s ease, transform 0.3s ease-in-out;
      transition: opacity 0.5s ease, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .nav .nav__logo-box {
    width: 84px;
    height: 43px;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease;
    transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease; }
    .nav .nav__logo-box svg {
      fill: #212121; }
  .nav.nav_open {
    background-color: #212121e7;
    height: 100vh;
    mix-blend-mode: unset; }
    .nav.nav_open .nav__btn-toggle {
      width: 40px;
      height: 40px; }
      .nav.nav_open .nav__btn-toggle span {
        width: 45px;
        background-color: #fff; }
      .nav.nav_open .nav__btn-toggle .nav__btn-toggle_ii {
        opacity: 0;
        -webkit-transform: scale(0.5);
                transform: scale(0.5); }
      .nav.nav_open .nav__btn-toggle .nav__btn-toggle_i {
        -webkit-transform: rotate(-45deg) translate(-14px, 9px);
                transform: rotate(-45deg) translate(-14px, 9px); }
      .nav.nav_open .nav__btn-toggle .nav__btn-toggle_iii {
        -webkit-transform: rotate(45deg) translate(-13px, -9px);
                transform: rotate(45deg) translate(-13px, -9px); }
    .nav.nav_open .nav__menu {
      opacity: 1;
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px); }
    .nav.nav_open .nav__logo-box {
      opacity: 1; }
      .nav.nav_open .nav__logo-box svg {
        fill: #fff; }
  .nav.nav_main-page .nav__logo-box {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease, width 0.5s ease, height 0.5s ease;
    transition: opacity 0.3s ease, width 0.5s ease, height 0.5s ease; }
    .nav.nav_main-page .nav__logo-box svg {
      fill: #fff; }
    .nav.nav_main-page .nav__logo-box.header-logo-main_visible {
      opacity: 1; }
      .nav.nav_main-page .nav__logo-box.header-logo-main_visible svg {
        fill: #212121; }
  .nav.nav_main-page.nav.nav_open .nav__btn-toggle.nav__btn-toggle_black span {
    background-color: #fff; }
  .nav.nav_main-page .nav__btn-toggle span {
    background-color: #fff; }
  .nav.nav_main-page .nav__btn-toggle.nav__btn-toggle_black span {
    background-color: #212121; }
  .nav.nav_main-page.nav_open .nav__logo-box {
    width: 84px;
    height: 80px;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
    .nav.nav_main-page.nav_open .nav__logo-box svg {
      fill: #fff; }
    .nav.nav_main-page.nav_open .nav__logo-box img {
      opacity: 0; }

.upcoming-section {
  background-color: #212121;
  color: #FFFFFF;
  padding: 60px 0;
  width: 100%;
  margin-top: auto; }
  .upcoming-section .upcoming__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .upcoming-section h4 {
    margin-bottom: 0; }

.upcoming__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto; }
  .upcoming__list li:not(:last-child) {
    margin-right: 2em; }
  .upcoming__list .upcoming__card {
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 230px;
    height: 126px; }
    .upcoming__list .upcoming__card .upcoming__date {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #fff;
      color: #212121;
      height: 26px;
      width: 100%; }
    .upcoming__list .upcoming__card .upcoming__desc {
      padding: 18px;
      text-align: center;
      margin: 0; }

.about-section {
  padding: 135px 0; }
  .about-section .about-section__h-bg {
    text-align: right;
    line-height: 90%;
    font-size: 160px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -20px;
    position: relative; }
    .about-section .about-section__h-bg::before {
      content: '';
      width: 533px;
      height: 508px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/bg1.png);
      position: absolute;
      top: -199px;
      left: -53px; }
    .about-section .about-section__h-bg::after {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      background-image: url("../img/bg2.png");
      bottom: -325px;
      left: -181px;
      width: 374px;
      height: 430px; }
  .about-section .about-section__content {
    width: 44%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-section .about-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about-section .about-section__desc {
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 50px; }
  .about-section .about-section__list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .about-section .about-section__list li:not(:last-child) {
      margin-bottom: 30px; }
    .about-section .about-section__list p {
      margin: 0;
      font-size: 18px;
      font-weight: 300; }
    .about-section .about-section__list h5 {
      font-size: 18px; }

.cases-section {
  padding: 150px 0;
  padding-bottom: 30px; }
  .cases-section h2 {
    font-size: 130px;
    margin-bottom: 30px; }
  .cases-section .cases__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }
    .cases-section .cases__list li {
      width: 30%; }
      .cases-section .cases__list li:not(:last-child) {
        margin-right: 3em; }
    .cases-section .cases__list h5 {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      margin-bottom: 5px; }
    .cases-section .cases__list p {
      margin: 0;
      margin-bottom: 22px; }
    .cases-section .cases__list .btn {
      margin-left: auto;
      margin-top: auto; }
    .cases-section .cases__list .cases__card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%; }
    .cases-section .cases__list .cases__img {
      position: relative;
      height: 230px;
      z-index: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 33px; }
      .cases-section .cases__list .cases__img img:first-child {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1; }
      .cases-section .cases__list .cases__img .cases__logo-brand {
        max-width: 72%;
        width: 100%;
        height: auto;
        -o-object-fit: contain;
           object-fit: contain; }

.blog-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 70px; }
  .blog-list li:not(:last-child) {
    margin-bottom: 50px; }
  .blog-list .blog-section__content .author {
    font-weight: 300;
    font-size: 22px;
    display: block;
    margin-bottom: 20px; }
  .blog-list .blog-section__content p {
    margin: 0;
    font-size: 16px;
    font-weight: 300; }
  .blog-list .blog-section__content h4 {
    font-size: 30px;
    font-weight: 700; }
  .blog-list .blog-section__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .blog-list .blog-section__avatar {
    margin-right: 2em; }
    .blog-list .blog-section__avatar img {
      width: 100px;
      height: 100px;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 100%; }
  .blog-list .blog-section__title-link {
    color: inherit;
    text-decoration: none; }

.blog-section {
  padding: 150px 0;
  padding-left: 180px;
  padding-top: 270px;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .blog-section:after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-image: url("../img/bg3.png");
    width: 45%;
    height: 520px;
    top: 0px;
    right: -30px;
    z-index: -1; }
  .blog-section::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/bg4.png);
    position: absolute;
    width: 443px;
    height: 448px;
    left: -182px;
    bottom: 140px;
    z-index: -1; }
  .blog-section h2 {
    color: #212121;
    font-size: 60px; }
  .blog-section__list li {
    max-width: 60%; }
  .blog-section__title-link {
    max-width: 490px; }

.potion-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #CFEAEA; }
  .potion-section h2 {
    color: #212121;
    font-size: 90px;
    width: 40%;
    margin: 0; }
  .potion-section p {
    width: 60%;
    font-weight: 300;
    font-size: 20px;
    padding-left: 40px;
    margin: 0; }
  .potion-section .potion-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 0; }
    .potion-section .potion-section__wrapper:before {
      content: '';
      display: block;
      width: 420px;
      height: 300px;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../img/bg5.png");
      top: -278px;
      right: 10px;
      z-index: -1; }
    .potion-section .potion-section__wrapper:after {
      content: '';
      display: block;
      width: 83%;
      margin: 0 auto;
      height: 410px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../img/bottles.png");
      position: relative;
      margin-top: -42px;
      z-index: 1; }

footer {
  background-color: #212121;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 150px;
  font-weight: 300; }
  footer a {
    color: inherit; }
    footer a:hover {
      color: inherit; }
  footer .footer__copy {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 20px;
    display: block; }
  footer .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .footer__logo {
    width: 240px;
    height: 230px; }
    footer .footer__logo svg {
      fill: #fff; }
  footer .footer__contacts {
    padding-right: 30px;
    padding-left: 20px; }
  footer .footer__text {
    width: 40%;
    font-size: 15px; }
    footer .footer__text b {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 10px;
      display: block; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px; }
  .footer__social li:not(:last-child) {
    margin-right: 20px; }
  .footer__social .footer__social-link {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .footer__social .footer__social-link[aria-label="Instagram"] {
      background-image: url("../img/inst.png"); }
    .footer__social .footer__social-link[aria-label="Linkedin"] {
      background-image: url("../img/in.png"); }
    .footer__social .footer__social-link[aria-label="Facebook"] {
      background-image: url("../img/fb.png"); }

.footer-postscriptum {
  background-color: #C1C1C1;
  padding-top: 60px;
  padding-bottom: 50px; }
  .footer-postscriptum .footer-postscriptum__container {
    max-width: 674px;
    padding-left: 300px;
    display: block;
    position: relative;
    font-size: 16px;
    margin: 0 auto;
    z-index: 0; }
    .footer-postscriptum .footer-postscriptum__container::before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-image: url("../img/footer-bg.png");
      background-size: contain;
      width: 300px;
      height: 300px;
      position: absolute;
      left: 50px;
      top: -140px;
      z-index: -1; }
    .footer-postscriptum .footer-postscriptum__container a {
      color: inherit;
      font-family: 'Playfair Display', serif;
      font-weight: 700; }

.tabs-section {
  margin-top: 40px;
  margin-bottom: 30px; }
  .tabs-section .tabs-section__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px dashed #1918195e;
    border-bottom: 1px dashed #1918195e;
    padding: 15px 0; }
    .tabs-section .tabs-section__list li:not(:last-child) {
      margin-right: 20px; }
    .tabs-section .tabs-section__list .tab-btn {
      background-color: transparent;
      color: #212121;
      font-size: 24px;
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
    .tabs-section .tabs-section__list .tab-active {
      background-color: #212121;
      color: #F2ECDC;
      cursor: default; }

.tabs-content-section__list {
  display: none; }
  .tabs-content-section__list.tabs-content-page_visible {
    display: block; }

.tabs-content-section {
  display: none; }
  .tabs-content-section.tabs-content-section_visible {
    display: block; }
  .tabs-content-section .tabs-content-section__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 80px; }
    .tabs-content-section .tabs-content-section__list li {
      width: 100%;
      max-width: 1000px;
      padding-bottom: 40px;
      padding-top: 40px;
      border-bottom: 1px dashed #1918195e; }
      .tabs-content-section .tabs-content-section__list li:nth-child(even) .tab-card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
      .tabs-content-section .tabs-content-section__list li:nth-child(even) .tab-card__content {
        padding-right: 3em;
        padding-left: 0; }
    .tabs-content-section .tabs-content-section__list .tab-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .tabs-content-section .tabs-content-section__list .tab-card__img {
      position: relative;
      height: 230px;
      z-index: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 400px;
      width: 400px; }
      .tabs-content-section .tabs-content-section__list .tab-card__img img:first-child {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1; }
      .tabs-content-section .tabs-content-section__list .tab-card__img .tab-card__logo-brand {
        max-width: 72%;
        width: 100%;
        height: auto;
        -o-object-fit: contain;
           object-fit: contain; }
    .tabs-content-section .tabs-content-section__list .tab-card__content {
      padding-left: 3em;
      width: 70%; }
      .tabs-content-section .tabs-content-section__list .tab-card__content p {
        margin: 0;
        font-size: 16px;
        font-weight: 300; }
      .tabs-content-section .tabs-content-section__list .tab-card__content .tab-card__title-link {
        color: inherit;
        text-decoration: none;
        display: block; }
        .tabs-content-section .tabs-content-section__list .tab-card__content .tab-card__title-link h4 {
          font-family: 'Roboto', sans-serif;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 0; }
      .tabs-content-section .tabs-content-section__list .tab-card__content .author {
        font-weight: 300;
        font-size: 22px;
        display: block;
        margin-bottom: 10px; }

.tabs-content-section__dots {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 90px; }
  .tabs-content-section__dots .tabs-content-section__dots-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px; }
    .tabs-content-section__dots .tabs-content-section__dots-container .dot-btn {
      display: block;
      background-color: transparent;
      width: 20px;
      height: 20px;
      border: 2px solid #212121d9;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      padding: 0;
      font-size: 0;
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
      .tabs-content-section__dots .tabs-content-section__dots-container .dot-btn.dot-active {
        background-color: #D9C68F;
        cursor: default; }

.article-section {
  padding-bottom: 60px;
  color: #212121;
  font-size: 20px;
  font-weight: 300;
  display: none; }
  .article-section.article-section_visible {
    display: block; }
  .article-section h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px; }
    .article-section h5:not(:first-of-type) {
      margin-top: 60px; }
  .article-section q {
    font-style: italic;
    margin-bottom: 20px;
    font-size: 22px;
    display: block; }
  .article-section cite {
    font-weight: 700; }
  .article-section .article-section__headline {
    padding-bottom: 15px;
    border-bottom: 1px dashed #1918195e;
    margin-bottom: 65px; }
  .article-section .article-section__headline-container {
    height: 800px;
    position: relative;
    z-index: 0; }
    .article-section .article-section__headline-container::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: radial-gradient(84.95% 248.4% at 78.59% 13.52%, rgba(0, 0, 0, 0) 8.4%, rgba(0, 0, 0, 0.79) 100%);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
    .article-section .article-section__headline-container img {
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2; }
    .article-section .article-section__headline-container .article-section__headline-content {
      width: 100%;
      height: 100%;
      padding: 60px;
      padding-right: 0;
      color: #F2ECDC;
      max-width: 1020px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .article-section .article-section__headline-container .article-section__headline-content h2 {
        font-size: 70px;
        color: #F2ECDC;
        font-weight: 700; }
      .article-section .article-section__headline-container .article-section__headline-content q {
        font-size: 30px;
        margin-top: 30px;
        font-style: italic;
        font-family: 'Playfair Display', serif;
        font-weight: 400; }
      .article-section .article-section__headline-container .article-section__headline-content .article-section__headline-author {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 20px;
        letter-spacing: 0.2em;
        margin-bottom: 30px; }
      .article-section .article-section__headline-container .article-section__headline-content .article-section__headline-company {
        font-size: 20px;
        font-weight: 300;
        margin-top: auto;
        margin-bottom: 10px;
        display: block; }
  .article-section .article-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .article-section .article-section__article {
    width: 70%;
    padding-right: 60px;
    line-height: 140%;
    padding-top: 30px; }
  .article-section .article-section__aside {
    width: 30%; }
  .article-section .article-section__toback {
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: inherit;
    margin-top: 50px; }

.article-section__service {
  background-color: #212121;
  color: #F2ECDC;
  padding-bottom: 40px;
  margin-bottom: 50px; }
  .article-section__service h5 {
    letter-spacing: 0.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: 1px dashed #f2ecdc73;
    padding: 0 2em; }
  .article-section__service ul {
    padding: 0 2em;
    margin: 0;
    margin-top: 30px;
    list-style: none; }
    .article-section__service ul a {
      color: #F2ECDC;
      text-decoration: none; }
      .article-section__service ul a:visited {
        color: #999999; }
      .article-section__service ul a::before {
        content: "• "; }

.article-section__similar h5 {
  font-weight: 400;
  letter-spacing: 0.2em;
  border-bottom: 1px dashed #1918195e;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  margin-bottom: 0; }
.article-section__similar ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .article-section__similar ul li {
    padding: 0 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 55px; }
    .article-section__similar ul li:not(:last-child) {
      border-bottom: 1px dashed #1918195e; }
  .article-section__similar ul a {
    color: inherit;
    text-decoration: none;
    font-weight: 400; }

.team-page {
  margin-top: 60px;
  padding-bottom: 150px; }
  .team-page h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32px; }
  .team-page .team__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%; }
    .team-page .team__list > li {
      border-top: 1px dashed #1918195e;
      text-align: center;
      width: 100%; }
      .team-page .team__list > li:nth-child(1), .team-page .team__list > li:nth-child(2), .team-page .team__list > li:nth-child(3) {
        border: none; }
  .team-page .team__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px 2.2em; }
    .team-page .team__card h5 {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      letter-spacing: 0.2em; }
    .team-page .team__card p {
      font-size: 15px;
      font-weight: 300;
      margin-top: 20px;
      margin-bottom: 0; }
    .team-page .team__card q {
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      font-style: italic;
      margin-top: auto;
      padding-top: 20px;
      display: block; }
    .team-page .team__card .team__social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin: 0;
      margin-top: 30px;
      list-style: none;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .team-page .team__card .team__social .team__social-link {
        width: 50px;
        height: 50px;
        font-size: 0;
        display: block;
        border-radius: 50%;
        margin: 0 8px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.8;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
        .team-page .team__card .team__social .team__social-link[aria-label="Phone"] {
          background-image: url("../img/team-phone.png"); }
        .team-page .team__card .team__social .team__social-link[aria-label="Email"] {
          background-image: url("../img/team-mail.png"); }
        .team-page .team__card .team__social .team__social-link[aria-label="Linkedin"] {
          background-image: url("../img/team-linkedin.png"); }
        .team-page .team__card .team__social .team__social-link[aria-label="Twitter"] {
          background-image: url("../img/team-twitter.png");
          border-radius: unset; }
        .team-page .team__card .team__social .team__social-link:hover {
          opacity: 1; }
  .team-page .team__img {
    position: relative;
    margin-bottom: 35px; }
    .team-page .team__img::before {
      content: '';
      display: block;
      padding-top: 100%; }
    .team-page .team__img img {
      border-radius: 50%;
      -webkit-filter: grayscale(1) contrast(1.3);
              filter: grayscale(1) contrast(1.3);
      -o-object-fit: cover;
         object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .team-page .team__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none; }

.contact-section {
  margin-top: 40px; }
  .contact-section h5 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; }
  .contact-section p {
    font-weight: 300; }
  .contact-section .contact-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px dashed #1918195e;
    border-bottom: 1px dashed #1918195e;
    padding: 60px 0; }
  .contact-section .contact-section__img {
    width: 65%;
    padding-left: 60px; }
    .contact-section .contact-section__img img {
      width: 100%;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover; }
  .contact-section .contact-section__mailto {
    color: inherit;
    font-size: 22px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px; }
  .contact-section .contact-section__content {
    width: 35%; }
  .contact-section .contact__social {
    margin-top: 40px; }
    .contact-section .contact__social a {
      -webkit-filter: invert(1);
              filter: invert(1);
      opacity: 0.8;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
      .contact-section .contact__social a:hover {
        opacity: 1; }
  .contact-section__map-content {
    margin-bottom: 20px; }
    .contact-section__map-content .contact-section__adress {
      font-size: 22px;
      font-weight: 300;
      display: block;
      margin-bottom: 15px; }
    .contact-section__map-content .contact-section__map-frame {
      height: 230px;
      width: 100%; }
    .contact-section__map-content img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.blog-page__blog-section .blog-sheet {
  background-color: #FFFFFF;
  -webkit-box-shadow: 8px 30px 65px rgba(0, 0, 0, 0.28);
          box-shadow: 8px 30px 65px rgba(0, 0, 0, 0.28); }
.blog-page__blog-section .blog-list {
  margin-top: 20px;
  border-right: 1px dashed #1918195e;
  display: none;
  width: 70%; }
  .blog-page__blog-section .blog-list li {
    margin-left: 50px;
    margin-right: 25px; }
  .blog-page__blog-section .blog-list li:not(:last-child) {
    margin-bottom: 0px; }
  .blog-page__blog-section .blog-list li:not(:first-child) {
    border-top: 1px dashed #1918195e; }
  .blog-page__blog-section .blog-list.tabs-content-page_visible {
    display: block; }
.blog-page__blog-section .blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.blog-page__blog-section .blog-section__card {
  padding-bottom: 30px;
  padding-top: 60px;
  padding-right: 100px; }
.blog-page__blog-section .tabs-content-section__dots {
  border-top: 1px dashed #1918195e;
  margin-top: 30px;
  padding: 50px 0;
  padding-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px; }
  .blog-page__blog-section .tabs-content-section__dots .tabs-content-section__dots-container .dot-btn.dot-active {
    background-color: #6BBBBB; }

.blog-aside {
  margin-top: 50px;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  width: 30%; }
  .blog-aside h5 {
    font-family: 'Roboto', sans-serif; }
  .blog-aside__title {
    background-color: #E0D6B9;
    padding: 30px 20px;
    font-weight: 300; }
    .blog-aside__title h5 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0; }
    .blog-aside__title a {
      color: inherit; }
  .blog-aside p {
    margin: 0; }
  .blog-aside__list {
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: 1px dashed #1918195e;
    margin-top: 30px;
    padding: 20px 20px;
    padding-top: 30px; }
    .blog-aside__list li:not(:last-child) {
      margin-bottom: 20px; }
    .blog-aside__list a {
      color: inherit;
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */