@media screen and (max-width: 1400px) {
  .main-feedback__card {
    padding: 34px 23px 36px 23px;
    width: auto; }

  .main-feedback__slider {
    padding-top: 10px; }
    .main-feedback__slider .slick-slide {
      -webkit-transform: scale(0.87);
              transform: scale(0.87); }

  h1 {
    font-size: 42px; }

  .header-main__offer {
    padding-left: 0; }
    .header-main__offer .sub-header {
      font-size: 21px; }

  .nav-sub__list {
    -webkit-column-gap: 16px;
            column-gap: 16px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: dense; } }
@media screen and (max-width: 1200px) {
  .header-main {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden; }
    .header-main__product {
      position: relative;
      right: 140px;
      width: 40%;
      z-index: -1; }
      .header-main__product img {
        width: auto; }

  .triggers {
    padding-top: 50px;
    padding-bottom: 50px; }
    .triggers__list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .triggers li {
      max-width: 300px; }

  .nav-main__menu {
    margin-right: 170px; }
    .nav-main__menu li:not(:last-child) {
      margin-right: 10px; }
  .nav-search {
    width: 150px; }

  .nav-search.search-open {
    width: 72%; }
    .nav-search.search-open .nav-search__result-wrapper button {
      font-size: 14px; }
    .nav-search.search-open .nav-search__result-wrapper ul {
      margin-top: 15px; }
      .nav-search.search-open .nav-search__result-wrapper ul li::before {
        width: 15px;
        height: 15px; }
    .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text-title {
      font-size: 15px; }
    .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text-price {
      font-size: 18px; }

  .shop_mainPage {
    margin-top: 55px; }
    .shop_mainPage .shop-card {
      width: 290px; }
      .shop_mainPage .shop-card img {
        max-width: 210px;
        max-height: 210px;
        width: 100%;
        height: auto; }
      .shop_mainPage .shop-card__title {
        font-size: 15px; }
      .shop_mainPage .shop-card__price-value {
        font-size: 18px; }

  .main-description {
    margin-top: 100px; }
    .main-description__text {
      margin-left: 2em;
      padding-left: 0; }
      .main-description__text::before {
        display: none; }

  .main-follow {
    padding: 100px 0; }

  .footer__item .btn {
    width: 142px; }
  .footer__wrapper {
    grid-template-columns: auto auto auto auto 200px; }

  .shop__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 24px; } }
@media screen and (max-width: 992px) {
  h1 {
    font-size: 34px;
    line-height: 130%; }

  h2 {
    font-size: 30px; }

  .header-main__product {
    right: 53px;
    width: 38%; }
    .header-main__product img {
      width: 400px; }
  .header-main__offer .sub-header {
    font-size: 19px; }

  .shop_mainPage .shop-card {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px; }

  .shop__wrapper {
    gap: 10px 12px; }

  .main-description {
    margin-top: 120px; }
    .main-description__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .main-description__img {
      width: 100%;
      height: 290px; }
    .main-description__text {
      padding-left: 0;
      margin-left: 0;
      max-width: unset;
      margin-top: 40px; }

  .main-goal__btn {
    width: 100%; }

  .main-feedback__card {
    max-width: 460px; }

  .main-follow {
    padding: 80px 0; }

  .triggers li {
    max-width: 220px; }
  .triggers__list {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .triggers__card {
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .triggers__card p {
      margin-bottom: 0; }

  .logo {
    width: 125px; }

  .nav-main .nav-main__menu {
    margin-right: 40px; }
    .nav-main .nav-main__menu li:not(:last-child) {
      margin-right: 2px; }

  .nav-sub__menu .nav-main__menu a {
    font-size: 12px;
    font-weight: 600; }
    .nav-sub__menu .nav-main__menu a.current {
      font-size: 15px;
      font-weight: bold; }

  .nav-sub__list {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: dense; }

  .nav-search {
    margin: 0 3px;
    width: 32px; }
    .nav-search__field {
      width: 0;
      border: none;
      -webkit-transition: none;
      transition: none; }
    .nav-search input {
      width: 0;
      padding: 0;
      border: none;
      -webkit-transition: none;
      transition: none; }
    .nav-search .nav-search__btn {
      display: block;
      position: absolute;
      right: 0;
      opacity: 1;
      z-index: 0;
      -webkit-transition: opacity 0.4s ease 0.2s;
      transition: opacity 0.4s ease 0.2s; }
    .nav-search.search-open .nav-search__btn {
      opacity: 0;
      z-index: -1; }
    .nav-search.search-open .nav-search__field {
      -webkit-transition: none;
      transition: none; }
    .nav-search__result-suggestion {
      padding-right: 23px; }

  .btn-cart {
    margin-left: 7px; }

  .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 40px 0px;
    grid-template-areas: "track touch quick shop" "checkout checkout join join" "copy copy copy copy"; }
  .footer__checkout-img {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media screen and (max-width: 768px) {
  .header-main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  body {
    padding-top: 70px; }

  .header-main__product {
    right: 0;
    width: 100%;
    margin-top: 30px; }
    .header-main__product img {
      width: 100%; }

  .nav {
    height: 59px;
    position: fixed; }
    .nav .logo {
      height: 36px;
      width: 111px; }
    .nav-search {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      right: unset;
      left: 45px; }
    .nav-main {
      padding-top: 12px;
      padding-bottom: 11px; }
      .nav-main .btn-user {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
    .nav .logo {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .nav .menu__burger-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .nav-main__menu, .nav-sup {
      display: none; }

  .btn-cart {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .shop__wrapper {
    grid-template-columns: 1fr 1fr; }

  .main-goal__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .main-goal__btn:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px; }

  .triggers__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .triggers li {
    max-width: unset;
    margin-bottom: 20px; }
    .triggers li:last-child {
      margin-bottom: 0; }
  .triggers__card p {
    max-width: 410px; }

  .footer__wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "touch touch track track" "quick quick shop shop" "join join join join" "checkout checkout checkout checkout" "copy copy copy copy"; }
  .footer__item:nth-child(5) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .footer__subscribe-form {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__subscribe-form input {
      width: 90%; }
  .footer__checkout-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .nav-sub__footer {
    display: none; }
  .nav-sub__menu {
    padding-top: 20px;
    margin-bottom: 50px; }
  .nav-sub__mobile-nav {
    display: none; }
  .nav-sub.visible {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
    .nav-sub.visible .nav-sub__mobile-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      padding-top: 9px;
      border-bottom: 1px solid #000000;
      padding-bottom: 10px; }
      .nav-sub.visible .nav-sub__mobile-nav .btn-close {
        position: absolute;
        right: 0; }
      .nav-sub.visible .nav-sub__mobile-nav .logo {
        width: 95px;
        height: 30px; }
  .nav-sub__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
@media screen and (max-width: 576px) {
  .shop__wrapper {
    grid-template-columns: 1fr; }

  .btn-cart {
    margin-right: 10px; }

  .nav-main .btn-user {
    right: 40px; }
  .nav-main .popup-dropdown .popup-wrapper.popup-dropdown_user::before {
    right: 32px; }

  .nav-search {
    left: 40px; } }
@media screen and (max-width: 400px) {
  .footer__wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "touch touch touch touch" "track track track track" "quick quick quick quick" "shop shop shop shop" "join join join join" "checkout checkout checkout checkout" "copy copy copy copy"; }
  .footer__item:nth-child(1), .footer__item:nth-child(2), .footer__item:nth-child(3), .footer__item:nth-child(4), .footer__item:nth-child(5) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .footer__subscribe-form {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__subscribe-form input {
      width: 90%; }
  .footer__checkout-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .footer__checkout-img img {
    width: 100%;
    height: 71px;
    -o-object-fit: contain;
       object-fit: contain; } }
@media screen and (max-width: 348px) {
  .nav-search {
    left: 35px; }

  .nav-main .btn-user {
    right: 35px; }
  .nav-main .logo {
    margin-left: 8px; }
  .nav-main .popup-dropdown .popup-wrapper.popup-dropdown_user::before {
    right: 27px; } }

/*# sourceMappingURL=media.css.map */