@font-face {
    font-family: 'Hot Mess';
    src: url('../fonts/');
    src: local('Hot Mess'), local('HotMess'),
        url('../fonts/HotMess.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HotMess.woff2') format('woff2'),
        url('../fonts/HotMess.woff') format('woff'),
        url('../fonts/HotMess.ttf') format('truetype'),
        url('../fonts/HotMess.svg#HotMess') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #F2ECDC;

    &.main-page {
        background-color: #fff;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

h2 {
    font-size: 220px;
    color: #CCCCCC;
}

h3 {
    font-size: 80px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 25px;
}

h6 {
    
}

.btn { 
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    background-color: #212121;
    border: none;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

header {
    height: 325px;
    display: flex;
    align-items: flex-end;

    h1 {
        font-size: 115px;
    }

    &.header-headline_ghost-bg {
        h1 {
            position: relative;

            &::before {
                position: absolute;
                content: 'THE WORK';
                display: block;
                font-family: 'Hot Mess';
                color: #59D9BC;
                z-index: -1;
                font-size: 192px;
                font-weight: 400;
                top: -44px;
                left: -47px;
            }
        }
    }

    &.header-work-bg {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url('../img/bg-top.png');
            right: 180px;
            top: -212px;
            width: 470px;
            height: 635px;
        }

        &::after {
            position: absolute;
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url('../img/bg-middle.png');
            right: 26px;
            top: 620px;
            width: 350px;
            height: 435px;
        }
    }
}

.header_main {
    height: 100vh;
    padding-top: 80px;
    background-image: url('../img/header-main.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;

    &:before {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        content: '';
        display: block;
        width: 100%;
        height: 60vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.32) 31.47%, rgba(0, 0, 0, 0.14) 63.82%, rgba(0, 0, 0, 0) 100%);
    }

    .header__logo {
        width: 260px;
        height: 250px;
        margin-top: auto;

        svg {
            fill:#fff;
        }
    }

    .header__slogan {
        font-family: 'Hot Mess';
        font-weight: normal;
        font-style: normal;
        font-size: 63px;
        color: #fffffff0;
        transform: rotate(-4deg);
        margin-top: 6px;
    }
}

.nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    z-index: 3;
    padding-top: 45px;
    mix-blend-mode: hard-light;
    display: flex;
    flex-direction: column;

    transition: background-color 0.2s ease, height 0.3s ease-in-out;

    .nav__menu {
        opacity: 0;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        
        padding-left: 90px;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 0;
        padding-bottom: 60px;

        transform: translate(0px, -1000%);
        transition: opacity 0.8s ease;
        
        .nav__menu-list {
            padding: 0;
            margin: 0;
            list-style: none;
            font-family: 'Playfair Display', serif;
            font-weight: 900;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 80px;
                line-height: 130%;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        p {
            font-size: 20px;
            max-width: 780px;
            margin-top: 50px;

            a {
                color: #fff;
            }
        }
    }

    .nav__nav {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .nav__btn-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 36px;
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        position: relative;

        span {
            background-color: #212121;
            width: 100%;
            height: 8px;
            display: block;
            border-radius: 50px;
            transition: transform 0.5s ease, opacity 0.5s ease, width 0.5s ease, background-color 0.5s ease;
        }

        .nav__btn-toggle_ii {
            transition: opacity 0.5s ease, transform 0.3s ease-in-out;
        }
    }

    .nav__logo-box {
        width: 84px;
        height: 43px;
        display: block;
        opacity: 1;
        transition: opacity 0.5s ease;

        svg {
            fill: #212121;
        }
    }

    &.nav_open {
        background-color: #212121e7;
        height: 100vh;
        mix-blend-mode: unset;

        .nav__btn-toggle {
            width: 40px;
            height: 40px;

            span {
                width: 45px;
                background-color: #fff;
            }

            .nav__btn-toggle_ii {
                opacity: 0;
                transform: scale(0.5);
            }

            .nav__btn-toggle_i {
                transform: rotate(-45deg) translate(-14px, 9px);
            }

            .nav__btn-toggle_iii {
                transform: rotate(45deg) translate(-13px, -9px);
            }
        }

        .nav__menu {
            opacity: 1;
            transform: translate(0px, 0px);
        }

        .nav__logo-box {
            opacity: 1;

            svg {
                fill: #fff;
            }
        }
    }

    &.nav_main-page {
        .nav__logo-box {
            opacity: 0;
            transition: opacity 0.3s ease;

            svg {
                fill: #fff;
            }

            &.header-logo-main_visible {
                opacity: 1;
                
                svg {
                    fill:#212121;
                }
            }
        }

        .nav__btn-toggle {

            span {
                background-color:#fff;
            }
            
            &.nav__btn-toggle_black {
                span {
                    background-color: #212121;
                }
            }
        }

        &.nav_open {
            .nav__logo-box {
                width: 84px;
                height: 80px;
                opacity: 1;
                transform: translate(0px, 0px);

                svg {
                    fill: #fff;
                }

                img {
                    opacity: 0;
                }
            }
        }
    }
}

.upcoming-section {
    background-color: #212121;
    color: #FFFFFF;
    padding: 60px 0;
    width: 100%;
    margin-top: auto;

    .upcoming__wrapper {
        display: flex;
        align-items: center;
    }

    h4 {
        margin-bottom: 0;
    }
}

.upcoming__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;

    li {
        &:not(:last-child) {
            margin-right: 2em;
        }
    }

    .upcoming__card {
        border: 2px solid #fff;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 230px;
        height: 126px;

        .upcoming__date {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            color: #212121;
            height: 26px;
            width: 100%;
        }

        .upcoming__desc {
            padding: 18px;
            text-align: center;
            margin: 0;
        }
    }
}

.about-section {
    padding: 135px 0;

    .about-section__h-bg {
        text-align: right;
        line-height: 90%;
        font-size: 160px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -20px;
        position: relative;

        &::before {
            content: '';
            width: 533px;
            height: 508px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/bg1.png);
            position: absolute;
            top: -199px;
            left: -53px;
        }

        &::after {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            background-image: url('../img/bg2.png');
            bottom: -325px;
            left: -181px;
            width: 374px;
            height: 430px;
        }
    }

    .about-section__content {
        width: 44%;
        align-items: center;
    }

    .about-section__wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .about-section__desc {
        font-weight: 300;
        font-size: 23px;
        margin-bottom: 50px;
    }

    .about-section__list {
        list-style: none;
        padding: 0;
        margin: 0;

        li:not(:last-child) {
            margin-bottom: 30px;
        }

        p {
            margin: 0;
            font-size: 18px;
            font-weight: 300;
        }

        h5 {
            font-size: 18px;
        }
    }
}

.cases-section {
    padding: 150px 0;
    padding-bottom: 30px;

    h2 {
        font-size: 130px;
        margin-bottom: 30px;
    }

    .cases__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin-top: 20px;

        li {
            width: 30%;

            &:not(:last-child) {
                margin-right: 3em;
            }
        }

        h5 {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin-bottom: 5px;
        }

        p {
            margin: 0;
            margin-bottom: 22px;
        }

        .btn {
            margin-left: auto;
            margin-top: auto;
        }

        .cases__card {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .cases__img {
            position: relative;
            height: 230px;
            z-index: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 33px;

            img:first-child {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }

            .cases__logo-brand {
                max-width: 72%;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }
}

.blog-section {
    padding: 150px 0;
    padding-left: 180px;
    padding-top: 270px;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        background-image: url('../img/bg3.png');
        width: 45%;
        height: 520px;
        top: 0px;
        right: -30px;
        z-index: -1;
    }

    &::before {
        content: '';
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/bg4.png);
        position: absolute;
        width: 443px;
        height: 448px;
        left: -182px;
        bottom: 140px;
        z-index: -1;
    }

    h2 {
        color: #212121;
        font-size: 60px;
    }

    .blog-section__title-link {
        color: inherit;
        text-decoration: none;
    }

    .blog-section__list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 70px;

        li {
            max-width: 60%;

            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }

    .blog-section__content {

        .author {
            font-weight: 300;
            font-size: 22px;
            display: block;
            margin-bottom: 20px;
        }

        p {
            margin: 0;
            font-size: 16px;
            font-weight: 300;
        }

        h4 {
            font-size: 30px;
            font-weight: 700;
            max-width: 490px;
        }
    }

    .blog-section__card {
        display: flex;
    }

    .blog-section__avatar {
        margin-right: 2em;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
}

.potion-section {
    padding-top: 90px;
    padding-bottom: 90px;

    background-color: #CFEAEA;

    h2 {
       color: #212121; 
       font-size: 90px;
       width: 40%;
       margin: 0;
    }

    p {
        width: 60%;
        font-weight: 300;
        font-size: 20px;
        padding-left: 40px;
        margin: 0;
    }

    .potion-section__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        z-index: 0;

        &:before {
            content: '';
            display: block;
            width: 420px;
            height: 300px;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url('../img/bg5.png');
            top: -278px;
            right: 10px;
            z-index: -1;
        }

        &:after {
            content: '';
            display: block;
            width: 83%;
            margin: 0 auto;
            height: 410px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url('../img/bottles.png');
            position: relative;
            margin-top: -42px;
            z-index: 1;
        }
    }
}

footer {
    background-color: #212121;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 150px;
    font-weight: 300;

    a {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    .footer__copy {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 22px;
        margin-bottom: 20px;
        display: block;
    }

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer__logo {
        width: 240px;
        height: 230px;

        svg {
            fill: #fff;
        }
    }

    .footer__contacts {
        padding-right: 30px;
        padding-left: 20px;
    }

    .footer__text {
        width: 40%;
        font-size: 15px;

        b {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 20px;
            margin-top: 10px;
            display: block;
        }
    }

    .footer__social {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 20px;

        li:not(:last-child) {
            margin-right: 20px;
        }

        .footer__social-link {
            display: block;
            width: 40px;
            height: 40px;
            font-size: 0;

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &[aria-label="Instagram"] {
                background-image: url('../img/inst.png');
            }

            &[aria-label="Linkedin"] {
                background-image: url('../img/in.png');
            }

            &[aria-label="Facebook"] {
                background-image: url('../img/fb.png');
            }
        }
    }
}

.footer-postscriptum {
    background-color: #C1C1C1;
    padding-top: 60px;
    padding-bottom: 50px;

    .footer-postscriptum__container {
        max-width: 674px;
        padding-left: 300px;
        display: block;
        position: relative;
        font-size: 16px;
        margin: 0 auto;
        z-index: 0;

        &::before {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-image: url('../img/footer-bg.png');
            background-size: contain;
            width: 300px;
            height: 300px;
            position: absolute;
            left: 50px;
            top: -140px;
            z-index: -1;
        }

        a {
            color: inherit;
            font-family: 'Playfair Display', serif;
            font-weight: 700;
        }
    }
}

.tabs-section {
    margin-top: 40px;
    margin-bottom: 30px;

    .tabs-section__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        border-top: 1px dashed #1918195e;
        border-bottom: 1px dashed #1918195e;

        padding: 15px 0;

        li:not(:last-child) {
            margin-right: 20px;
        }

        .btn {
            background-color:#F2ECDC;
            color: #212121;
            font-size: 24px;
        }

        .tab-active .btn {
            background-color:#212121;
            color: #F2ECDC;
            cursor: default;
        }
    }
}

.tabs-content-section {
    .tabs-content-section__list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 80px;

        li {
            width: 100%;
            max-width: 1000px;
            padding-bottom: 40px;
            padding-top: 40px;
            border-bottom: 1px dashed #1918195e;

            &:nth-child(even) {
                .tab-card {
                    flex-direction: row-reverse; 
                }

                .tab-card__content {
                    padding-right: 3em;
                    padding-left: 0;
                }
            }
        }

        .tab-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .tab-card__img {
            position: relative;
            height: 230px;
            z-index: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 400px;
            width: 400px;

            img:first-child {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }

            .tab-card__logo-brand {
                max-width: 72%;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        .tab-card__content {
            padding-left: 3em;
            width: 70%;
            
            p {
                margin: 0;
                font-size: 16px;
                font-weight: 300;
            }

            .tab-card__title-link {
                color: inherit;
                text-decoration: none;
                
                h4 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 0;
                }
            }

            .author {
                font-weight: 300;
                font-size: 22px;
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}

.tabs-content-section__dots {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 90px;

    .tabs-content-section__dots-container {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        button {
            display: block;
            background-color: transparent;
            width: 20px;
            height: 20px;
            border: 2px solid #212121d9;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;

            transition: background-color 0.3s ease;

            &.dot-active {
                background-color: #D9C68F;
                cursor: default;
            }
        }
    }
}
