@media screen and (max-height: 852px) {
    .header_main {
        height: 900px;
    }
}

@media screen and (max-width: 1400px) {
    .upcoming__list {
        .upcoming__card {
            width: 200px;
            font-size: 16px;
            height: 114px;
        }

        li:not(:last-child) {
            margin-right: 1.5em;
        }
    }

    .about-section {

        .about-section__desc {
            font-size: 21px;
        }

        .about-section__h-bg {
            font-size: 140px;

            &::before {
                top: -193px;
                left: -7px;
                width: 493px;
                height: 468px;
            }

            &::after {
                bottom: -258px;
                left: -52px;
                width: 323px;
                height: 370px;
            }
        }
    }

    .cases-section {
        padding-top: 90px;

        h2 {
            font-size: 100px;
        }
    }

    .blog-section {
        &:after {
            height: 460px;
            top: 40px;
            right: -70px;
        }

        .blog-section__content {
            h4 {
                font-size: 27px;
                max-width: 430px;
            }

            .author {
                font-size: 20px;
            }
        }
    }

    .potion-section {
        .potion-section__wrapper {
            &::before {
                top: -256px;
                width: 360px;
                height: 270px;
            }

            &::after {
                margin-top: -30px;    
                height: 360px;
            }
        }

        h2 {
            font-size: 80px;
        }

        p {
            font-size: 19px;
        }
    }

    footer {
        .footer__logo {
            max-width: 160px;
        }

        .footer__social .footer__social-link {
            width: 30px;
            height: 30px;
        }
    }

    .nav .nav__menu {
        .nav__menu-list a {
            font-size: 70px;
        }

        p {
            font-size: 18px;
            max-width: 660px;
        }
    }

    .header-work-bg .header-title__wrapper {
        &::before {
            right: 20px;
        }
    }  

    .header-headline_ghost-bg.header-work-bg .header-title__wrapper::after {
        display: none;
    }

    .tabs-content-section .tabs-content-section__list {
        li {
            max-width: unset;
        }

        .tab-card__img {
            max-width: unset;
            width: 430px;
        }
    }

    .article-section {
        font-size: 18px;

        h5 {
            font-size: 20px;
        }

        .article-section__headline-container {
            height: 700px;

            .article-section__headline-content {
                q {
                    font-size: 26px;
                }

                h2 {
                    font-size: 64px;
                }
            }
        }

        &__service {
            ul, h5 {
                padding: 0 1.4em;
            }
        }

        &__similar {
            ul li, h5 {
                padding: 0 1.4em;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    h4 {
        font-size: 30px;
    }

    .about-section {
        padding-bottom: 20px;

        .about-section__content {
            width: 55%;
        }

        .about-section__h-bg {
            font-size: 90px;
            padding-top: 80px;

            &::before {
                top: -83px;
                left: -7px;
                width: 403px;
                height: 378px;
            }

            &::after {
               display: none;
            }
        }
    }

    .upcoming-section {
        padding: 30px 0;
    }

    .cases-section {
        h2 {
            font-size: 80px;
        }

        .cases__list {
            h5 {
                font-size: 19px;
                font-weight: 600;
            }

            li:not(:last-child) {
                margin-right: 2em;
            }

            li {
                width: 31%;
            }
        }
    }

    .blog-section {
        padding-left: 120px;
        padding-top: 120px;

        h2 {
            font-size: 50px;
        }
        
        &::before {
            bottom: unset;
            top: 420px;
            width: 420px;
            height: 411px;
        }

        &:after {
            height: 360px;
            width: 440px;
            top: 0px;
            right: 10px;
        }

        .blog-section__avatar {
            margin-right: 1.8em;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }

    .btn {
        font-size: 14px;
    }

    .potion-section {

        h2 {
            font-size: 60px;
        }

        .potion-section__wrapper {
            &::after {
                margin-top: 10px;
                height: 300px;
                margin-right: 110px;
            }

            &::before {
                top: -236px;
                width: 300px;
                height: 220px;
            }
        }
    }

    footer {
        padding-bottom: 100px;

        .footer__logo {
            max-width: 120px;
        }

        .footer__contacts {
            padding-left: 60px;
        }
    }

    .nav {
        padding-top: 15px;

        .nav__btn-toggle {
            width: 40px;
            height: 26px;

            span {
                height: 4px;
            }
        }

        .nav__logo-box {
            width: 64px;
            height: 61px;
        }

        &.nav_open {
            .nav__logo-box {
                width: 64px;
                height: 60px;
            }

            .nav__btn-toggle {
                .nav__btn-toggle_iii {
                    transform: rotate(45deg) translate(-14px, -11px);
                }
    
                .nav__btn-toggle_i {
                    transform: rotate(-45deg) translate(-15px, 10px);
                }
            }
        }
    }

    .nav .nav__menu .nav__menu-list a {
        font-size: 60px;
    }

    .header_main {
        padding-top: 40px;

        .header__logo {
            width: 200px;
            height: 200px;
            margin-top: auto;
        }
    }

    .header-work-bg .header-title__wrapper::before {
        right: 0;
        top: -322px;
        width: 390px;
        height: 535px;
    }

    .article-section {

        h5:not(:first-of-type) {
            margin-top: 40px;
        }

        .article-section__article {
            padding-right: 50px;
            padding-top: 20px;
        }

        .article-section__headline {
            margin-bottom: 45px;
        }

        .article-section__headline-container {
            height: 560px;

            .article-section__headline-content {
                padding: 50px;

                h2 {
                    font-size: 54px;
                }

                q {
                    font-size: 24px;
                }

                .article-section__headline-author {
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                .article-section__headline-company {
                    font-size: 18px;
                }
            }
        }

        q {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1095px) {
    .blog-section::after {
        height: 310px;
        width: 350px;
    }

    .blog-section .blog-section__list li {
        max-width: 70%;
    }
}

@media screen and (max-width: 992px) {

    .blog-section {

        padding-left: 0;

        &:after {
            right: -120px;
        }

        &:before {
            left: -222px;
        }

        .blog-section__list li {
            max-width: 100%;
        }
    }

    .upcoming-section {
        padding-bottom: 37px;

        .upcoming__wrapper {
            flex-direction: column;
            align-items: start;
        }

        h4 {
            br {
                display: none;
            }
            margin-bottom: 20px;
            font-size: 27px;
        }

        .upcoming__list {
            margin-left: 0;
        }
    }

    .potion-section {

        .potion-section__wrapper {
            &::before {
                right: 0px;
                top: -225px;
            }

            &::after {
                height: 227px;
                margin-top: 30px;
                margin-right: 80px;
            }

            align-items: flex-start;
        }

        h2 {
            font-size: 50px;
        }

        p {
            padding-top: 20px;
            font-size: 17px;
        }
    }

    .about-section {

        .about-section__h-bg {
            padding-top: 0;
            order: 0;
            width: 100%;
            text-align: left;
            font-size: 70px;
            margin-bottom: 40px;

            br {
                display: none;
            }

            &::before {
                display: none;
            }
        }

        .about-section__wrapper {
            flex-direction: column;
        }

        .about-section__content {
            order: 1;
            width: 100%;
        }
    }

    .cases-section {

        h2 {
            font-size: 60px;
        }

        .cases__list {
            h5 {
                font-size: 16px;
                font-weight: 600;
            }

            li:not(:last-child) {
                margin-right: 1.5em;
            }

            .cases__img {
                height: 190px;
            }

            .btn {
                width: 100%;
                text-align: center;
            }
        }
    }

    footer {
        .footer__wrapper {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .footer__text {
            width: 100%;
            margin-top: 30px;
        }

        .footer__logo {
            max-width: 200px;
        }
    }

    .nav .nav__menu {
        .nav__menu-list a {
            font-size: 50px;
        }

        p {
            font-size: 16px;
            max-width: 660px;
        }
    }

    .header_main {
        padding-top: 0;

        .header__logo {
            width: 170px;
            height: 160px;
        }
    }

    .footer-postscriptum {
        .footer-postscriptum__container {
            padding-left: 220px;

            &::before {
                width: 250px;
                height: 250px;
                left: 8px;
                top: -139px;
            }
        }
    }

    header {
        height: auto;
        padding-top: 100px;

        h1 {
            font-size: 75px;
        }
    }

    .header-headline_ghost-bg h1::before {
        top: -30px;
        left: -27px;
        font-size: 126px;
    }

    .header-work-bg .header-title__wrapper::before {
        display: none;
    }

    .tabs-section {
        .tabs-section__list {
            flex-wrap: wrap;

            .btn {
                font-size: 20px;
            }

            li:not(:last-child) {
                margin-right: 1%;
            }
        }
    }

    .tabs-content-section {
        .tabs-content-section__list {
            align-items: center;
            display: flex;
            flex-direction: column;

            .tab-card {
                flex-direction: column;
            }

            .tab-card__img {
                width: 100%;
                height: 280px;
            }

            .tab-card__content {
                padding-left: 0;
                margin-top: 20px;
                width: 100%;
            }

            li {
                max-width: 530px;
            }

            li:nth-child(even) .tab-card {
                flex-direction: column;
            }
        }
    }

    .article-section {

        q {
            font-size: 18px;
        }

        .article-section__headline {
            margin-bottom: 25px;
        }

        .article-section__wrapper {
            flex-direction: column;
        }

        .article-section__headline-container {
            height: 490px;

            .article-section__headline-content {
                padding: 40px;

                .article-section__headline-company {
                    font-size: 16px;
                }

                h2 {
                    font-size: 42px;
                }

                q {
                    font-size: 20px;
                    margin-top: 20px;
                }

                .article-section__headline-author {
                    font-size: 16px;
                    margin-bottom: 0px;
                    margin-top: 10px;
                }
            }
        }

        .article-section__article {
            width: 100%;
            padding-right: 0;
            margin-bottom: 30px;
        }

        .article-section__aside {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__service {
            margin-right: 3em;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .upcoming-section {
        .upcoming__list {
            li:not(:last-child) {
                margin-right: 1em;
            }

            .upcoming__card {
                width: auto;
                font-size: 14px;
            }

            .upcoming__date {
                margin-bottom: auto;
            }

            .upcoming__desc {
                margin: auto;
                padding: 11px;
            }
        }
    }

    .about-section {
        .about-section__h-bg {
            font-size: 63px;

            &::before {
                top: -193px;
                width: 303px;
                height: 288px;
                right: -240px;
            }
        }

        .about-section__desc {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .about-section__list p {
            font-size: 16px;
        }
    }

    .cases-section {
        h2 {
            font-size: 50px;
        }

        .cases__list {
            .cases__img {
                height: 120px;
                margin-bottom: 13px;
            }

            p {
                font-size: 15px;
            }

            .btn {
                font-size: 13px;
            }
        }
    }

    .blog-section {
        padding-bottom: 100px;
        
        &::after {
            right: -170px;
            height: 280px;
            width: 310px;
            top: -62px;
        }

        &::before {
            display: none;
        }

        .blog-section__list {
            margin-top: 60px;
        }

        h2 {
            font-size: 43px;
        }

        .blog-section__content {
            h4 {
                font-size: 23px;
                max-width: unset;
            }

            .author {
                font-size: 17px;
            }
        }

        .blog-section__avatar {
            margin-right: 1.4em;

            img {
                width: 73px;
                height: 73px;
            }
        }
    }

    .potion-section {
        padding-top: 50px;
        padding-bottom: 70px;

        h2 {
            width: 100%;
            font-size: 40px;
        }

        p {
            padding-left: 0;
            width: 100%;
            font-size: 16px;
        }

        .potion-section__wrapper {
            flex-direction: column;

            &::before {
                display: none;
            }

            &::after {
                height: 200px;
                width: 100%;
                margin-top: 30px;
                margin-right: 0;
                margin-left: -25px;
            }
        }
    }

    footer {
        padding-top: 80px;
        padding-bottom: 80px;

        .footer__logo {
            max-width: 90px;
            height: auto;
        }

        .footer__contacts {
            padding-left: 30px;
            padding-right: 0;
            width: calc(100% - 90px);
        }

        .footer__social {
            .footer__social-link {
                width: 27px;
                height: 27px;
            }
        }
    }

    .footer-postscriptum {
        .footer-postscriptum__container {
            padding-left: 130px;

            &::before {
                left: -82px;
                top: -139px;
            }
        }
    }

    .header_main {
        .header__logo {
            width: 140px;
            height: 140px;
        }

        .header__slogan {
            font-size: 40px;
        }
    }

    .nav {
        .nav__menu {
            padding-left: 60px;
    
            .nav__menu-list a {
                font-size: 40px;
            }

            p {
                margin-top: 30px;
                padding-right: 30px;
            }
        }
    }

    .article-section {

        font-size: 16px;

        .article-section__toback {
            font-size: 18px;
        }

        .article-section__headline-container {
            height: auto;
        }

        h5 {
            font-size: 18px;
            margin-top: 30px;
        }

        q {
            font-size: 16px;
        }

        .article-section__headline {
            margin-bottom: 0px;
        }

        .article-section__headline-container {
            .article-section__headline-content {
                q {
                    font-size: 18px;
                    margin-top: 20px;
                }

                h2 {
                    font-size: 32px;
                }

                .article-section__headline-company {
                    font-size: 15px;
                    margin-top: 50px;
                }

                .article-section__headline-author {
                    font-size: 15px;
                    margin-top: 0px;
                }
            }
        }

        &__service h5,
        &__similar h5 {
            padding: 0 1.4em;
            font-size: 20px;
            margin-top: 0;
            height: 60px;
            font-size: 18px;
        }

        &__service {
            margin-right: 1em;
        }
    }
}

@media screen and (max-width: 610px) {
    .upcoming-section {

        h4 {
            text-align: center;
            width: 100%;
        }

        .upcoming__list {
            flex-direction: column;
            width: 100%;
            align-items: center;

            .upcoming__card {
                width: 100%;
            }

            li {
                width: 70%;
                text-align: center;
            }

            li:not(:last-child) {
                margin: 0;
                margin-bottom: 20px;
            }

            .upcoming__date {
                margin-bottom: 0;
            }
        }
    }

    .about-section {
        padding: 100px 0;
        padding-bottom: 0px;

        .about-section__h-bg {
            font-size: 50px;
            margin-top: 0;
        }

        .about-section__desc {
            font-size: 17px;
        }

        .about-section__list {
            li:not(:last-child) {
                margin-bottom: 20px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .cases-section {
        h2 {
            font-size: 45px;
        }
    }

    .potion-section {
        h2 {
            width: 100%;
            font-size: 37px;
        }
    }

    .header_main {
        padding-top: 30px;
    }

    .nav {
        .nav__logo-box,
        &.nav_main-page.nav_open .nav__logo-box {
            width: 44px;
            height: 42px;
        }

        .nav__btn-toggle {
            width: 30px;
            height: 22px;
        }

        &.nav_open .nav__btn-toggle {
            width: 30px;
            height: 30px;

            span {
                width: 30px;
            }

            .nav__btn-toggle_ii {
                width: 20px;
            }

            .nav__btn-toggle_i {
                transform: rotate(-45deg) translate(-9px, 9px);
            }

            .nav__btn-toggle_iii {
                transform: rotate(45deg) translate(-9px, -10px);
            }
        }
    }

    .header-headline_ghost-bg h1::before {
        top: -31px;
        left: 4px;
        font-size: 106px;
    }

    .tabs-content-section .tabs-content-section__list {
        margin-bottom: 60px;
    }

    .tabs-content-section__dots {
        margin-bottom: 70px;
        font-size: 19px;

        .tabs-content-section__dots-container button {
            width: 17px;
            height: 17px;
        }
    }
}

@media screen and (max-width: 576px) {
    .nav {
        .nav__menu {
            padding-left: 40px;

            p {
                font-size: 14px;
                max-width: 660px;
            }

            .nav__menu-list a {
                font-size: 36px;
            }
        }

        .nav__nav {
            padding: 0;
        }
    }

    .cases-section {
        .cases__list {
            flex-direction: column;

            li {
                width: 100%;

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 50px;
                }
            }

            .cases__list p {
                margin-bottom: 10px;
            }

            .cases__img {
                height: 210px;
            }

            .btn {
                width: 140px;
            }
        }
    }

    .blog-section {
        padding-top: 80px;

        h2 {
            font-size: 36px;
        }

        &::after {
            display: none;
        }

        .blog-section__card {
            flex-direction: column;
        }

        .blog-section__avatar {
            display: none;
        }

        .blog-section__content .author {
            margin-bottom: 8px;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .potion-section {
        h2 {
            font-size: 36px;
        }

        .potion-section__wrapper::after {
            margin-top: 6px;
            margin-right: 0;
            height: 158px;
            margin-left: -11px;
        }
    }

    footer {
        padding-bottom: 30px;

        .footer__contacts {
            width: 100%;
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 30px;

            p {
                margin-bottom: 10px;
            }
        }

        .footer__logo {
            max-width: 90px;
            margin-bottom: 40px;
        }

        .footer__copy {
            font-size: 18px;
            margin-bottom: 14px;
        }

        .footer__text b {
            margin-bottom: 10px;
            margin-top: 0px;
            font-size: 15px;
        }
    }

    .footer-postscriptum {
        padding-top: 40px;

        .footer-postscriptum__container {
            padding-left: 0;

            &::before {
                display: none;
            }
        } 
    }

    .nav {
        .nav__menu {
            
            .nav__menu-list a {
                font-size: 34px;
            }

            p {
                padding-right: 40px;
            }
        }
    }

    header h1 {
        font-size: 55px;
    }

    .header-headline_ghost-bg h1::before {
        top: -24px;
        left: 4px;
        font-size: 86px;
    }

    .tabs-section {
        margin-top: 20px;
        margin-bottom: 10px;

        .tabs-section__list .btn {
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 481px) {
    .article-section .article-section__aside {
        flex-direction: column;
    }

    .article-section__service {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .article-section .article-section__headline-container .article-section__headline-content {
        padding: 30px;
    }
}

@media screen and (max-width: 426px) {
    .upcoming-section {
        .upcoming__list li {
            width: 90%;
        }

        h4 {
            font-size: 24px;
        }

        .upcoming__card {
            height: 106px;
        }
    }

    .about-section {
        padding: 70px 0;
        padding-bottom: 0px;

        .about-section__h-bg {
            font-size: 36px;
            line-height: 110%;
            margin-bottom: 20px;
        }

        .about-section__desc {
            margin-bottom: 20px;
        }
    }

    .cases-section {
        padding-top: 60px;

        h2 {
            font-size: 36px;
        }
    }

    .blog-section {
        padding-top: 60px;
        padding-bottom: 70px;

        .blog-section__content h4 {
            font-size: 19px;
        }

        .blog-section__list {
            margin-top: 40px;

            li:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    .potion-section {
        padding-bottom: 60px;

        .potion-section__wrapper::after {
            display: none;
        }
    }

    .tabs-content-section {
        .tabs-content-section__list {
            .tab-card__img {
                height: 220px;
            }

            li {
                padding-bottom: 35px;
            }

            .tab-card__content {
                .tab-card__title-link {
                    h4 {
                        font-size: 21px;
                        margin-bottom: 8px;
                    }
                }

                .author {
                    font-size: 20px;
                }
            }
        }
    }

    header h1 {
        font-size: 42px;
    }

    .header-headline_ghost-bg h1::before {
        display: none;
    }
}

@media screen and (max-width: 384px) {
    .nav .nav__menu {
        padding-left: 20px;

        p {
            padding-right: 20px;
        }
    }

    .blog-section h2,
    .cases-section h2,
    .potion-section h2,
    .about-section .about-section__h-bg {
        font-size: 32px;
    }

    .upcoming-section h4 {
        font-size: 19px;
    }

    .footer-postscriptum {
        padding-bottom: 40px;

        .footer-postscriptum__container  {
            font-size: 13px;
        }
    }

    .tabs-content-section .tabs-content-section__list .tab-card__img {
        height: 195px;
    }

    .article-section {
        .article-section__headline-container {

            &::before {
                background: radial-gradient(84.95% 248.4% at 78.59% 13.52%, rgba(0, 0, 0, 0.27) 8.4%, rgba(0, 0, 0, 0.79) 100%);
            }

            .article-section__headline-content {
                padding: 20px;
                
                h2 {
                    font-size: 28px;
                }

                q {
                    font-size: 17px;
                }
            }
        }
    }
}